div.footer 
	div.footer-content
		span 
			Copyright Visma Spcs AB ©2017. All rights reserved.
		a(href="https://openchannel.io/privacy-policy/").
			Privacy Policy
		a(href="https://my.openchannel.io/agreement/customer_agreement.html").
			Terms of Service
		a(href="https://openchannel.io").
			OpenChannel.io