doctype html
html
	head
		title My App

		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", type="text/css")
		link(href="/public/css/style.css", rel="stylesheet", type="text/css")
		link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css")
		link(href="/public/css/cropper.min.css" rel="stylesheet" type="text/css")
		link(href="/public/css/select2.min.css" rel="stylesheet" type="text/css")

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
		script(src="https://cloud.tinymce.com/stable/tinymce.min.js")
		script(src="/public/js/cropper.min.js")
		script(src="/public/js/dropzone.js")
		script(src="/public/js/video-embed.js")
		script(src="/public/js/select2.min.js")
		script(src="/public/js/jqBootstrapValidation.js")
	body
		div.header
			div.container
				a.logo-link.pull-left(href="/app")
					img.site-logo(src="/public/img/vismalogo.png")
				ul.nav-menu.pull-right
					li.menu-item
						a(href="/").
							Home
					li.menu-item
						a(href="/app").
							My Apps