doctype html
html
	head
		title My App

		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", type="text/css")
		link(href="/public/css/style.css", rel="stylesheet", type="text/css")
		link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css")
		link(href="/public/css/cropper.min.css" rel="stylesheet" type="text/css")
		link(href="/public/css/select2.min.css" rel="stylesheet" type="text/css")
		link(href="/public/css/toastr.css" rel="stylesheet" type="text/css")

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")

		script(src="/config/config.js")

		script(src="/public/js/cropper.min.js")
		script(src="/public/js/dropzone.js")
		script(src="/public/js/video-embed.js")
		script(src="/public/js/select2.min.js")
		script(src="/public/js/jqBootstrapValidation.js")
		script(src="/public/js/jquery.flot.min.js")
		script(src="/public/js/jquery.flot.time.min.js")
		script(src="/public/js/jquery.flot.resize.min.js")
		script(src="/public/js/jquery.flot.tooltip.min.js")
		script(src="/public/js/cropper-dropzone.js")
		script(src="/public/js/tinymce/tinymce.min.js")
		script(src="/public/js/toastr.min.js")

		script.
			$(document).ready(function() {
				toastr.options = {
					'positionClass': 'toast-top-center'
				}

				var toast_type = '#{toast_type}';
				var toast_message = '#{toast_message}';
				
				if (toast_type == 'error') {
					toastr.error(toast_message);
				} else if (toast_type == 'status') {
					toastr.success(toast_message);
				} else if (toast_type == 'create') {
					toastr.success('Your draft has been saved');
				} else if (toast_type == 'update') {
					toastr.success('Your changes have been saved');
				} else if (toast_type == 'delete') {
					toastr.success('App version deleted successfully');
				} else if (toast_type == 'publish') {
					toastr.success('Your app has been submitted and is pending approval');
				}
			});
	body
		div.header
			div.container
				a.logo-link.pull-left(href="/app")
					img.site-logo(src="/public/img/vismalogo.png")
				ul.nav-menu.pull-right
					li.menu-item
						a(href="/").
							Home
					li.menu-item
						a(href="/app").
							My Apps