include ./../header.pug

section.breadcrumb
	div.container
		h1.
			Edit App
		a(href="/")
			span.
				 Home
		span.
			 /
		a(href="/app")
			span.
				 My Apps
		span.
			 /
		span.
			 Edit App

section.form
	div.container
		div#plot
		form.form(method="post", action="/api/app" novalidate)
			div.form-group.row.control-group
				div.col-md-3.item.
					Application Name
					#[span.text-danger *]
				div.col-md-6.controls
					input.form-control(required, data-validation-required-message="Please fill out this field", name="name" value=app.name)
			div.form-group.row.control-group
				div.col-md-3.item.
					Summary
					#[span.text-danger *]
				div.col-md-6.controls
					textarea.form-control(required, data-validation-required-message="Please fill out this field", name="summary")
						= app.customData.summary
			div.from-group.row.control-group
				div.col-md-3.item.
					Description
					#[span.text-danger *]
				div.col-md-6
					textarea.form-control(required, data-validation-required-message="Please fill out this field", name="description" )#description 
						= app.customData.description
					p.help-block
			div.form-group.row.control-group
				div.col-md-3.item.
					Icon
					#[span.text-danger *]
				div.col-md-6
					div#upload-icon.dropzone
						input#icon(name="icon", type="input", class="hidden", value="")
			div.form-group.row.control-group
				div.col-md-3.item.
					Images
				div.col-md-6
					div#upload-images.dropzone
						input#images(name="images", type="input", class="hidden", value="")
						each image in app.customData.imageList
							div.dz-preview.dz-processing.dz-image-preview.dz-success.dz-complete
								div.dz-image
									img(data-dz-thumbnail, src=image)
								div.dz-progress
									span.dz-upload(data-dz-uploadprogress, style="width: 100%;").
										Complete
								a.dz-remove(href="javascript:void(0);" data-dz-remove)
									i.fa.fa-trash
			div.form-group.row.control-group
				div.col-md-3.item.
					Files
				div.col-md-6
					div#upload-files.dropzone
						input#files(name="files", type="input", class="hidden", value="")
			div.form-group.row.control-group
				div.col-md-3.item.
					Category
					#[span.text-danger *]
				div.col-md-6.controls
					select.form-control.categorizer(multiple="multiple", required, data-validation-required-message="Please select at least one", name="category")
						option Autogiro
						option BokningsSystem
						option CRM
						option E-handel

			div.form-group.row.control-group
				div.col-md-3.item.
					Website URL
				div.col-md-6
					input.form-control(name="website_url")
			div.form-group.row.control-group
				div.col-md-3.item.
					Video URL
				div.col-md-6
					input.form-control.video-url(name="video_url")
					div.video-preview
			div.form-group.row.control-group
				div.col-md-3
				div.col-md-6.controls
					input(type="checkbox", required, data-validation-required-message="Please check this box if you want to proceed.")
					label. 
						 I agree to the terms and conditions.
						#[span.text-danger *]
			div.form-group.row
				div.col-md-6.col-md-offset-3
					button.btn.btn-primary.pull-right(type="submit", onclick="bSubmit=false;").
						Save Draft

script(src="/public/js/cropper-dropzone.js")
script.
	Dropzone.autoDiscover = false;
	tinymce.init({ selector:'#description' });
	var bSubmit = false;

	$(document).ready(function() {
		initializeCropperDropzone("#upload-icon", {
			fileType: "icon",
			bCropper: true,
			maxFiles: 1,
			autoProcessQueue: false,
		});
		initializeCropperDropzone("#upload-images", {
			fileType: "images",
			maxFiles: 10,
			autoProcessQueue: true,
		});
		initializeCropperDropzone("#upload-files", {
			fileType: "files",
			bFile: true,
			maxFiles: 10,
			autoProcessQueue: true,
		});

		$(".categorizer").select2();

		$("form").find("input,select,textarea").not("[type='submit']").jqBootstrapValidation({ });

		$("form").submit(function(e) {
			if (bSubmit == false) {
				var modal =
						'<div id="modal_publish" class="modal fade" role="dialog">' +
						'	<div class="modal-dialog">' + 
						'		<div class="modal-content">' + 
						'			<div class="modal-header">' +
						'				<button class="close" data-dismiss="modal"> &times; </button>' +
						'				<h4 class="modal-title"> Publish App </h4>' +
						'			</div>' +
						'			<div class="modal-body">' +
						'				<p> Do you also want to submit this app to the marketplace right now? </p>' +
						'			</div>' +
						'			<div class="modal-footer">' +
						'				<button class="btn btn-default" data-dismiss="modal"> Later </button>' +
						'				<button class="btn btn-primary" onclick="bSubmit=true; $(\'form\').submit();"> Yes </button>' +
						'			</div>' +
						'		</div>' +
						'	</div>' +
						'</div>';

				$(modal).modal();
				return false;
			} else {
				return true;
			}
		});

		$("#plot").plot(
			[
				{ 
					data: [ [0, 0], [1, 0], [2, 0], [3, 0], [4, 0], [5, 0], [6, 0], [7, 0], [8, 0], [9, 0], [10, 0], [11, 0] ]
				},
			],
			flotConfig
		).data("plot");


		$(".video-url").change(function() {
			$(".video-preview iframe").remove();
			$(".video-preview").append(getEmbedVideoCode( $(".video-url").val(), 390, 220 ));
		});
	});

include ./../footer.pug