include ./../header.pug

section.statistics
	div.container.section-container
		div.error-panel
			i.fa.fa-exclamation-circle
			span.
				 Drafts must be published before they can be listed on the marketplace.
		h1
			i.fa.fa-search
			span.
				 0 Views
		div#plot

section.add-app
	div.section-container.action-container.text-center
		div.container
			h1.
				Add your app
			a.btn.btn-white.btn-see-through.btn-lg(href="/app/create").
				Add App

section.apps
	div.section-container
		h1.text-center.
			My Apps
		div.container
			div.card-group
				div.row
					each app in data.list
						div.col-md-6
							div.card
								div.card-overlay.text-center
									a.btn.btn-see-through(data-toggle="tooltip", title="Edit" href="/app/edit/" + app.appId)
										i.fa.fa-pencil
									a.btn.btn-see-through(data-toggle="tooltip", title="Publish")
										i.fa.fa-rocket
									a.btn.btn-see-through(data-toggle="tooltip", title="Preview")
										i.fa.fa-search
									a.btn.btn-see-through(data-toggle="tooltip", title="Delete")
										i.fa.fa-trash
								div.card-status.text-cente
									= app.status.value
								div.card-content
									div.row
										div.col-md-4
											div.card-image
												img(src=app.customData.icon)
										div.col-md-8
											div.card-title
												= app.name
											div.card-summary
												= app.customData.summary

script.
	$(document).ready(function() {
		$("#plot").plot(
			[
				{ 
					data: [ [0, 0], [1, 0], [2, 0], [3, 0], [4, 0], [5, 0], [6, 0], [7, 0], [8, 0], [9, 0], [10, 0], [11, 0] ]
				},
			],
			flotConfig
		).data("plot");
		$("[data-toggle='tooltip']").tooltip();
	});

include ./../footer.pug